# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.rc
.terraformrc
# локальні змінні
terraform.tfvars
Progect/terraform.tfvars

# Helm артефакти
*.tgz

# Python
__pycache__/
*.pyc
