######################################################
# AWS
######################################################
# Регіон AWS, у якому будуть створюватися ресурси
aws_region = "us-east-1"

######################################################
# VPC
######################################################
# CIDR-блок для VPC
vpc_cidr_block = "10.0.0.0/16"

# CIDR-блоки для публічних підмереж
public_subnets = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

# CIDR-блоки для приватних підмереж
private_subnets = [
  "10.0.101.0/24",
  "10.0.102.0/24"
]

# Зони доступності (availability zones)
availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

######################################################
# ECR
######################################################
# Назва репозиторію ECR
ecr_name = "lesson-7-ecr"

######################################################
# EKS
######################################################
# Назва кластера EKS
eks_cluster_name = "lesson-7-eks"

# Версія Kubernetes для EKS
eks_version = "1.29"

######################################################
# GitHub (опційно для Jenkins / ArgoCD)
######################################################
# Якщо потрібна інтеграція з приватним репозиторієм GitHub
# (замінити null на реальні значення)
github_username = null
github_token    = null
github_repo_url = null
